<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.6C1FC158-FC98-4D48-B91C-AF435668B4B7</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.6C1FC158-FC98-4D48-B91C-AF435668B4B7</string>
</dict>
</plist>
