<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoExpandRestoreClipboard</key>
	<false/>
	<key>autoExpandRestoreClipboardAfter</key>
	<real>1</real>
	<key>autoExpandSnippetPlaySound</key>
	<false/>
	<key>autoExpandSnippetTriggerPlaySound</key>
	<false/>
	<key>autoExpandSnippetsExcludedApps</key>
	<array>
		<string>com.runningwithcrayons.Alfred</string>
		<string>com.runningwithcrayons.Alfred-Preferences</string>
		<string>com.apple.appstore</string>
		<string>com.apple.Automator</string>
		<string>com.surteesstudios.Bartender</string>
		<string>com.hegenberg.BetterTouchTool</string>
		<string>TTKN.CAJViewerMac</string>
		<string>com.apple.calculator</string>
		<string>com.apple.iCal</string>
		<string>com.mediaatelier.CheatSheet</string>
		<string>com.apple.Chess</string>
		<string>com.apple.AddressBook</string>
		<string>com.kapeli.dash</string>
		<string>com.apple.dashboardlauncher</string>
		<string>com.jetbrains.datagrip</string>
		<string>com.apple.Dictionary</string>
		<string>com.alibaba.DingTalkMac</string>
		<string>com.apple.DVDPlayer</string>
		<string>com.apple.FaceTime</string>
		<string>com.devhd.feedly.osx</string>
		<string>org.mozilla.firefox</string>
		<string>com.apple.FontBook</string>
		<string>com.DanPristupov.Fork</string>
		<string>com.paloaltonetworks.GlobalProtect</string>
		<string>com.goagentx.GoAgentX</string>
		<string>com.google.Chrome</string>
		<string>com.smartisan.smartfindercommon</string>
		<string>com.apple.iBooksX</string>
		<string>com.colliderli.iina</string>
		<string>com.apple.Image_Capture</string>
		<string>com.apple.InstallAssistant.HighSierra</string>
		<string>com.apple.InstallAssistant.Mojave</string>
		<string>com.jetbrains.intellij.ce</string>
		<string>cn.better365.ishot</string>
		<string>com.googlecode.iterm2</string>
		<string>com.apple.iTunes</string>
		<string>com.thebravesoft.iZipUnarchiver</string>
		<string>com.jetbrains.toolbox</string>
		<string>org.pqrs.Karabiner-Elements.Preferences</string>
		<string>org.pqrs.Karabiner-EventViewer</string>
		<string>com.apple.iWork.Keynote</string>
		<string>com.apple.launchpad.launcher</string>
		<string>AcdSystem.LightEQ</string>
		<string>com.apple.mail</string>
		<string>com.apple.Maps</string>
		<string>MarkManOne</string>
		<string>com.apple.iChat</string>
		<string>com.microsoft.Excel</string>
		<string>com.microsoft.onenote.mac</string>
		<string>com.microsoft.Powerpoint</string>
		<string>com.microsoft.Word</string>
		<string>com.ideasoncanvas.mindnode.macos</string>
		<string>com.apple.exposelauncher</string>
		<string>com.cu4uc.mounty</string>
		<string>com.NeatDownloadManager</string>
		<string>com.netease.163music</string>
		<string>com.apple.Notes</string>
		<string>net.nutstore.osxapp</string>
		<string>com.omnigroup.OmniGraffle6</string>
		<string>com.parallels.desktop.console</string>
		<string>com.readdle.PDFExpert-Mac</string>
		<string>com.apple.PhotoBooth</string>
		<string>com.apple.Photos</string>
		<string>org.playonmac.playonmac</string>
		<string>com.postmanlabs.mac</string>
		<string>com.apple.Preview</string>
		<string>com.tencent.qq</string>
		<string>com.apple.QuickTimePlayerX</string>
		<string>com.apple.reminders</string>
		<string>com.microsoft.rdc</string>
		<string>com.apple.Safari</string>
		<string>com.vandyke.SecureCRT</string>
		<string>com.sequelpro.SequelPro</string>
		<string>com.apple.siri.launcher</string>
		<string>com.apple.Stickies</string>
		<string>com.sublimetext.3</string>
		<string>com.apple.systempreferences</string>
		<string>com.teamviewer.TeamViewer</string>
		<string>com.apple.TextEdit</string>
		<string>cx.c3.theunarchiver</string>
		<string>com.apple.backup.launcher</string>
		<string>abnerworks.Typora</string>
		<string>com.lightapps.unrar</string>
		<string>net.yanue.V2rayU</string>
		<string>com.microsoft.VSCode</string>
		<string>org.videolan.vlc</string>
		<string>com.jetbrains.WebStorm</string>
		<string>com.tencent.xinWeChat</string>
		<string>org.wireshark.Wireshark</string>
		<string>com.apple.dt.Xcode</string>
		<string>com.youdao.note.YoudaoNoteMac</string>
		<string>com.baofeng.player</string>
		<string>com.baidu.BaiduNetdisk-mac</string>
		<string>com.wenyu.kwplayermac</string>
	</array>
	<key>hotkey</key>
	<dict>
		<key>key</key>
		<integer>9</integer>
		<key>mod</key>
		<integer>1572864</integer>
		<key>string</key>
		<string>V</string>
	</dict>
	<key>persistFor</key>
	<integer>0</integer>
</dict>
</plist>
